:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --dark-blue: #153448;
  --grey-blue: #3C5B6F;
  --dark-brown: #948979;
  --light-brown: #DFD0B8;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 150vh;
  margin: 0;
  padding: 0;
}

.container {
  margin: 5px;
  display: grid;
  min-height: 150vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "about about about"
    "content1 content2 content3"
    "footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

#about {
  background: var(--grey-blue);
  grid-area: about;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#project1 {
  background: var(--light-brown);
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#project2 {
  background: var(--light-brown);
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#project3 {
  background: var(--light-brown);
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: var(--dark-brown);
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}