:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --white: hsla(0, 0%, 100%, 0.8);
  --dark-blue: hsla(204, 55%, 18%, 0.6);
  --grey-blue: hsla(204, 30%, 34%, 0.6);
  --dark-brown: hsla(36, 11%, 53%, 0.6);
  --light-brown: hsla(37, 38%, 80%, 0.6);
  --black: hsla(0, 0%, 0%, 0.781);
  --grid-gap: 0.2rem;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1578241561880-0a1d5db3cb8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
}

.container {
  margin: 5px;
  display: grid;
  min-height: 150vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.7fr 1fr; 
  grid-template-areas:
    "about about about"
    "projects projects projects"
    "footer footer footer";
  grid-gap: var(--grid-gap);
  font-weight: 800;
  font-size: 12px;
  text-align: center;
}

.vertical-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: var(--white);
  margin: 10px;
  font-size: 2rem;
}

p {
  border-radius: 3px;
  background-color: var(--white);
  padding: 15px;
  font-size: 1rem;
  line-height: 3ch;
  color: var(--black);
  max-width: 72ch;
  text-align: left;
  margin: 10px;
}

h1 {
  color: var(--white);
  font-weight: bolder;
  text-decoration-line: underline;
}

img {
  border-radius: 2%;
  box-shadow: 5px 5px 5px var(--black);
  max-width: min(890px, 80vw, 80%);
}


a {
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1ch;
  transition: transform 0.3s ease;
}

a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#about {
  background: var(--grey-blue);
  grid-area: about;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);

  display: flex;
  align-items: center;
  justify-content: center;
}

#projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro {
  width: 100%;
  text-decoration-line: underline;
  font-size: 1.6rem;
  color: var(--white);
  margin: var(--grid-gap);
  border-radius: var(--main-radius);
  background-color: var(--dark-blue);
}

#projects-container {
  padding-top: var(--grid-gap);
  padding-bottom: var(--grid-gap);
  flex: 1;
  width: 100%;
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Divide container into three equal columns */
  grid-auto-rows: 1fr; /* Each row will take up equal space vertically */
  gap: var(--grid-gap);
}

#projects-container > * {
  margin: 0;
  background: var(--light-brown);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}


#contact {
  background: var(--dark-brown);
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-info {
  border-radius: 3px;
  background-color: var(--white);
  padding: 15px;
  font-size: 1rem;
  line-height: 3ch;
  color: var(--black);
  width: fit-content;
  height: fit-content;
  margin: 10px;
}

#contact-info > a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transform: none;
}

#contact-info > a:hover {
  background-color: aliceblue;
}

.icon {
  box-shadow: none;
  max-width: 40px;
  height: auto;
}


.shrek-img {
  max-height: 70%;
  width: auto;
}


@media (max-width: 1000px) {
  label {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  #about {
    flex-direction: column;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.7fr; 
  }

  #projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--grid-gap);
  }

  #intro {
    font-size: 1rem;
    text-decoration-line: none;
    border: 3px groove var(--white);
  }

  #contact-container {
    flex-direction: column-reverse;
  }
}